<div>
    <h2>Lists</h2>
    <div class="container">
        <div class="btn-group d-flex justify-content-center py-3" role="group">
            <button type="button" class="btn btn-primary" (click)="openAddListModal()">New List</button>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item list-group-item-action px-3" *ngFor="let list of (lists$ | async)">
                    <div class="row align-items-start">
                        <div class="col">
                            <h5 class="mb-0">{{ list.name.value }}</h5>
                            <small class="text-success">{{ list.id._value }}</small>
                        </div>
                        <div class="col-auto">
                            <h4 class="mb-0">
                                {{ list.invest }}
                                
                                <span class="ms-2 align-top">
                                  <div ngbDropdown class="d-inline-block">
                                    <button type="button" class="btn btn-sm btn-light" id="dropdownBasic1" ngbDropdownToggle>
                                      <i class="ti ti-dots-vertical"></i>
                                    </button>
                                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                      <button (click)="edit(list)" ngbDropdownItem>Edit</button>
                                      <button (click)="remove(list)" ngbDropdownItem>Remove</button>
                                    </div>
                                  </div>
                                </span>
                            </h4>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>